<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css"> 
  
  <title>Tarifario</title>
  
  <!-- Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  
  <!-- Underscore.js Libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  
  <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-app="tarifario">
  <div class="container">
    <div class="header clearfix">
      <h3 class="text-muted"><i class="fa fa-taxi"></i> Taxi Tarifario</h3>
    </div>
    
    <div class="jumbotron">
      <form name="rateForm" class="form-horizontal" ng-controller="RateCalculatorController as rateCtrl" ng-submit="rateCtrl.getPrice(rateForm)" novalidate>
        <div class="form-group">
          <label class="col-sm-2" for="inputOrigin">Inicio</label>
          <div class="col-sm-5">
            <select name="origin" ng-model="rateCtrl.origin" class="form-control" id="inputOrigin" ng-change="rateCtrl.getPrice(rateForm)" required>
              <option ng-repeat="neighborhood in rateCtrl.neighborhoods" value="{{ neighborhood.id }}">
                {{ neighborhood.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2" for="inputDestination">Destino</label>
          <div class="col-sm-5">
            <select name="destination" ng-model="rateCtrl.destination" class="form-control" id="inputDestination" equals-to-origin="{{ rateCtrl.origin }}" ng-change="rateCtrl.getPrice(rateForm)" required>
              <option value="{{ rateCtrl.beach.id }}">
                {{ rateCtrl.beach.name }}
              </option>
              <option ng-repeat="neighborhood in rateCtrl.neighborhoods" value="{{ neighborhood.id }}">
                {{ neighborhood.name }}
              </option>
            </select>
            <span class="help-block" ng-show="rateForm.destination.$error.equalsToOrigin">
              Origen y destino no pueden ser iguales.
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-sm btn-success" ng-disabled="rateForm.$invalid">Calcular precio</button>
            <button class="btn btn-sm btn-default" ng-click="rateCtrl.clearForm()"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span></button>
          </div>
        </div>
        <div class="alert alert-success" role="alert" ng-show="rateForm.$valid && rateCtrl.result.has_route">
          Precio desde <strong>{{ rateCtrl.result.origin }}</strong>
          hasta <strong>{{ rateCtrl.result.destination }}</strong>
          es <strong>{{ rateCtrl.result.price }}</strong>
        </div>
        <div class="alert alert-danger" role="alert" ng-hide="rateForm.$invalid || rateCtrl.result.has_route">
          <strong>{{ rateCtrl.result.no_route_message }}</strong>
          desde {{ rateCtrl.result.origin }} hasta {{ rateCtrl.result.destination }}
        </div>
      </form>
    </div>
  </div>
</body>

</html>
